.mmm-covid19 {
  padding: 0 1rem;
}

.mmm-covid19-table {
  /* table-layout: fixed; */
  border-collapse: collapse !important;
  border-bottom: 1px solid white;
}

.mmm-covid19-row-totals {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
}

.mmm-covid19-row-deltas {
  font-size: 26px;
  line-height: 28px;
  background-color: #6666663a;
}

.mmm-covid19-delta-increase {
  color: red;
}

.mmm-covid19-delta-decrease {
  color: green;
}

.mmm-covid19-divider {
  background-color: white;
  line-height: 10px;
}

.mmm-covid19-table th {
  font-size: 20px;
}

.mmm-covid19-table td div{
  line-height: normal;
  font-size: 60%;
  white-space: nowrap;
  color: var(--color-text-dimmed);
}

.mmm-covid19-table tr:first-of-type,
.mmm-covid19-table tr:nth-child(even) {
  border-top: 1px solid white;
}

.mmm-covid19-last-update {
  font-size: 12px;
  margin: 0;
}

.mmm-covid19-header {
  font-size: 12px;
  margin: 0;
  text-align: left;
  line-height: 1.5em;
}

.mmm-covid19-footer {
  font-size: 12px;
  margin: 0;
  text-align: left;
  line-height: 1.5em;
}

.mmm-covid19-footer-right,
.mmm-covid19-footer-left {
  margin: 0;
  width: 50%;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

.mmm-covid19-footer-right {
  text-align: right;
  float: right;
}

.mmm-covid19-footer-left {
  text-align: left;
  float: left;
}

.mmm-covid19-footer-version,
.mmm-covid19-footer-dates {
  display: inline-block;
  max-width: 100%;
}
.mmm-covid19-footer-version {
  margin-left: 0.5rem;
}

.mmm-covid19-footer-dates {
  margin-right: 0.5rem;
}

.mmm-covid19-footer-version-update {
  color: gold;
}
